.taskItemContainer {
  width: 335px;
  height: 84px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-bottom: 20px;
}

.tasks_container_box_content {
  width: 100%;
}

.itemHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todoLink {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
